<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nla.mapper.DeconGroupMapper">

    <resultMap id="BaseResultMap" type="com.example.nla.entity.DeconGroup">
        <!--@Table decon_group-->
        <result property="decId" column="dec_id" jdbcType="INTEGER"/>
        <result property="decGroupName" column="dec_group_name" jdbcType="VARCHAR"/>
        <result property="decGropuDetails" column="dec_gropu_details" jdbcType="VARCHAR"/>
        <result property="decCreateTime" column="dec_create_time" jdbcType="TIMESTAMP"/>
        <result property="decModifyTime" column="dec_modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          dec_id, dec_group_name, dec_gropu_details, dec_create_time, dec_modify_time
        from ml_nla.decon_group
        where dec_id = #{decId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          dec_id, dec_group_name, dec_gropu_details, dec_create_time, dec_modify_time        from ml_nla.decon_group
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          dec_id, dec_group_name, dec_gropu_details, dec_create_time, dec_modify_time        from ml_nla.decon_group
        <where>
            <if test="decId != null">
                and dec_id = #{decId}
            </if>
            <if test="decGroupName != null and decGroupName != ''">
                and dec_group_name = #{decGroupName}
            </if>
            <if test="decGropuDetails != null and decGropuDetails != ''">
                and dec_gropu_details = #{decGropuDetails}
            </if>
            <if test="decCreateTime != null">
                and dec_create_time = #{decCreateTime}
            </if>
            <if test="decModifyTime != null">
                and dec_modify_time = #{decModifyTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="decId" useGeneratedKeys="true">
        insert into ml_nla.decon_group(dec_group_name, dec_gropu_details, dec_create_time, dec_modify_time)
        values (#{decGroupName}, #{decGropuDetails}, #{decCreateTime}, #{decModifyTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ml_nla.decon_group
        <set>
            <if test="decGroupName != null and decGroupName != ''">
                dec_group_name = #{decGroupName},
            </if>
            <if test="decGropuDetails != null and decGropuDetails != ''">
                dec_gropu_details = #{decGropuDetails},
            </if>
            <if test="decCreateTime != null">
                dec_create_time = #{decCreateTime},
            </if>
            <if test="decModifyTime != null">
                dec_modify_time = #{decModifyTime},
            </if>
        </set>
        where dec_id = #{decId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ml_nla.decon_group where dec_id = #{decId}
    </delete>

</mapper>