<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nla.mapper.GiverMapper">

    <resultMap id="BaseResultMap" type="com.example.nla.entity.Giver">
        <!--@Table giver-->
        <result property="givId" column="giv_id" jdbcType="INTEGER"/>
        <result property="givName" column="giv_name" jdbcType="VARCHAR"/>
        <result property="givDes" column="giv_des" jdbcType="VARCHAR"/>
        <result property="givRelationObjs" column="giv_relation_objs" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          giv_id, giv_name, giv_des, giv_relation_objs, create_time, modify_time
        from ml_nla.giver
        where giv_id = #{givId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          giv_id, giv_name, giv_des, giv_relation_objs, create_time, modify_time        from ml_nla.giver
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          giv_id, giv_name, giv_des, giv_relation_objs, create_time, modify_time        from ml_nla.giver
        <where>
            <if test="givId != null">
                and giv_id = #{givId}
            </if>
            <if test="givName != null and givName != ''">
                and giv_name = #{givName}
            </if>
            <if test="givDes != null and givDes != ''">
                and giv_des = #{givDes}
            </if>
            <if test="givRelationObjs != null and givRelationObjs != ''">
                and giv_relation_objs = #{givRelationObjs}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                and modify_time = #{modifyTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="givId" useGeneratedKeys="true">
        insert into ml_nla.giver(giv_name, giv_des, giv_relation_objs, create_time, modify_time)
        values (#{givName}, #{givDes}, #{givRelationObjs}, #{createTime}, #{modifyTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ml_nla.giver
        <set>
            <if test="givName != null and givName != ''">
                giv_name = #{givName},
            </if>
            <if test="givDes != null and givDes != ''">
                giv_des = #{givDes},
            </if>
            <if test="givRelationObjs != null and givRelationObjs != ''">
                giv_relation_objs = #{givRelationObjs},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </set>
        where giv_id = #{givId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ml_nla.giver where giv_id = #{givId}
    </delete>

</mapper>