<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nla.mapper.RpRegexMapper">

    <resultMap id="BaseResultMap" type="com.example.nla.entity.RpRegex">
        <!--@Table rp_regex-->
        <result property="modeCode" column="mode_code" jdbcType="INTEGER"/>
        <result property="regex" column="regex" jdbcType="VARCHAR"/>
        <result property="mode" column="mode" jdbcType="VARCHAR"/>
        <result property="regexDes" column="regex_des" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          mode_code, regex, mode, regex_des
        from ml_nla.rp_regex
        where mode_code = #{modeCode}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          mode_code, regex, mode, regex_des        from ml_nla.rp_regex
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          mode_code, regex, mode, regex_des        from ml_nla.rp_regex
        <where>
            <if test="modeCode != null">
                and mode_code = #{modeCode}
            </if>
            <if test="regex != null and regex != ''">
                and regex = #{regex}
            </if>
            <if test="mode != null and mode != ''">
                and mode = #{mode}
            </if>
            <if test="regexDes != null and regexDes != ''">
                and regex_des = #{regexDes}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="modeCode" useGeneratedKeys="true">
        insert into ml_nla.rp_regex(regex, mode, regex_des)
        values (#{regex}, #{mode}, #{regexDes})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ml_nla.rp_regex
        <set>
            <if test="regex != null and regex != ''">
                regex = #{regex},
            </if>
            <if test="mode != null and mode != ''">
                mode = #{mode},
            </if>
            <if test="regexDes != null and regexDes != ''">
                regex_des = #{regexDes},
            </if>
        </set>
        where mode_code = #{modeCode}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ml_nla.rp_regex where mode_code = #{modeCode}
    </delete>
    <!--获取集合总长度-->
    <select id="getLength" resultType="java.lang.Integer">
        select count(1) from rp_regex;
    </select>

</mapper>