<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nla.mapper.ToolMapper">

    <resultMap id="BaseResultMap" type="com.example.nla.entity.Tool">
        <!--@Table tool-->
        <result property="toolId" column="tool_id" jdbcType="INTEGER"/>
        <result property="toolName" column="tool_name" jdbcType="VARCHAR"/>
        <result property="toolDes" column="tool_des" jdbcType="VARCHAR"/>
        <result property="toolRelationObjs" column="tool_relation_objs" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          tool_id, tool_name, tool_des, tool_relation_objs, create_time, modify_time
        from ml_nla.tool
        where tool_id = #{toolId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          tool_id, tool_name, tool_des, tool_relation_objs, create_time, modify_time        from ml_nla.tool
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          tool_id, tool_name, tool_des, tool_relation_objs, create_time, modify_time        from ml_nla.tool
        <where>
            <if test="toolId != null">
                and tool_id = #{toolId}
            </if>
            <if test="toolName != null and toolName != ''">
                and tool_name = #{toolName}
            </if>
            <if test="toolDes != null and toolDes != ''">
                and tool_des = #{toolDes}
            </if>
            <if test="toolRelationObjs != null and toolRelationObjs != ''">
                and tool_relation_objs = #{toolRelationObjs}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                and modify_time = #{modifyTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="toolId" useGeneratedKeys="true">
        insert into ml_nla.tool(tool_name, tool_des, tool_relation_objs, create_time, modify_time)
        values (#{toolName}, #{toolDes}, #{toolRelationObjs}, #{createTime}, #{modifyTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ml_nla.tool
        <set>
            <if test="toolName != null and toolName != ''">
                tool_name = #{toolName},
            </if>
            <if test="toolDes != null and toolDes != ''">
                tool_des = #{toolDes},
            </if>
            <if test="toolRelationObjs != null and toolRelationObjs != ''">
                tool_relation_objs = #{toolRelationObjs},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </set>
        where tool_id = #{toolId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ml_nla.tool where tool_id = #{toolId}
    </delete>

</mapper>